.theme {
  display: flex;
  gap: 10px;
}

.theme__button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  flex: 0 0 40px;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.moon {
  background-color: #000;
}

.sun {
  background-color: rgba(255, 255, 255, 0.2);
}

.current {
  box-shadow: 0 0 0 2px rgba(120, 170, 255, 0.7);
}

.moonIcon {
  filter: invert(1);
}
